
<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/teams">
    <ul></ul>
        <li>
            <label for="tn">Team Name:</label>
            <input type="text" id = "tn" name = "team[name]">
        </li>
        <li>
            <label for="tm">Team Motto:</label>
            <input type="text" id = "tm" name = "team[motto]">
        </li>
    </ul>
    <h2>Hero 1</h2>
    <ul>
        <li>
            <label for="member1_name">Hero's Name:</label>
            <input type="text" id = "member1_name" name = "team[superheroes][][name]">
        </li>
        <li>
            <label for="member1_power">Hero's Power:</label>
            <input type="text" id = "member1_power" name = "team[superheroes][][power]">
        </li>
        <li>
            <label for="member1_bio">Hero's Biography:</label>
            <input type="text" id = "member1_bio" name = "team[superheroes][][bio]">
        </li>
    </ul>
    <h2>Hero 2</h2>
    <ul>
        <li>
            <label for="member2_name">Hero's Name:</label>
            <input type="text" id = "member2_name" name = "team[superheroes][][name]">
        </li>
        <li>
            <label for="member2_power">Hero's Power:</label>
            <input type="text" id = "member2_power" name = "team[superheroes][][power]">
        </li>
        <li>
            <label for="member2_bio">Hero's Biography:</label>
            <input type="text" id = "member2_bio" name = "team[superheroes][][bio]">
        </li>
    </ul>
    <h2>Hero 3</h2>
    <ul>
        <li>
            <label for="member3_name">Hero's Name:</label>
            <input type="text" id = "member3_name" name = "team[superheroes][][name]">
        </li>
        <li>
            <label for="member3_power">Hero's Power:</label>
            <input type="text" id = "member3_power" name = "team[superheroes][][power]">
        </li>
        <li>
            <label for="member3_bio">Hero's Biography:</label>
            <input type="text" id = "member3_bio" name = "team[superheroes][][bio]">
        </li>
    </ul>
    <input type="submit" id="submit">
</form>